<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="NBGCurrencyBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://nbg.gov.ge/currency_service.php" binding="basicHttpBinding"
                bindingConfiguration="NBGCurrencyBinding" contract="Currencyconveter.NBGCurrencyPort"
                name="NBGCurrencyPort" />
        </client>
    </system.serviceModel>
</configuration>